.container {
    background-color: #262626;
    align-self: center;
}
body{
    background-color: #262626;
}
.title_1 {
    background-image: url();
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    font-size: larger;
    height: 100px;
    width: 1000px;
    text-align: center;
}
.evidence {
    border: 5px solid white;
}
h1 {
    color: white;
}
p {
    color: white;
    font-weight: 100;
}
img {
    
}